<html lang='en'>
  <head>
    <style type='text/css'>
      .p {text-align: center; font-size: 22px;} .f {display: flex; align-items:
      center; justify-content: center;} .s {background-color: #555881;
      font-size: 16px; letter-spacing: 0.02857em; line-height: 1.75; margin: 0
      auto; padding: 6px 16px; text-decoration: none; border-radius: 8px; width:
      150px; color: white; } .g {margin-top: 50px;}
    </style>
  </head>
  <body>
    <p class='p'>Dear User</p>
    <p class='p'>Please click below to confirm your email</p>

    <div class='p f'>
      <a class='s' href='{{url}}'>Confirm</a>
    </div>

    <p class='p g'>Please, do not reply this email.</p>
    <p>If you did not request this email you can safely ignore it.</p>
  </body>

</html>